:root {
  --background-color: white;
  --border-color: black;
  --text-color: black;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 50px;
  background-color: var(--background-color);

  color: var(--text-color);
  font-size: 14pt;
}

main {
  margin: auto;
}

button {
  outline: none;
  border: none;
  padding: 6px;

  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 14pt;
  font-family: serif;
}

input {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 14pt;
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel button {
  display: inline-block;
  vertical-align: top;
}

.panel div {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

.bordered {
  border: 1px solid var(--border-color);
  padding: 4px;
}


#input_puzzle_size {
  width: 40px;
}

#puzzle_status {
  text-align: center;
}

#puzzle_container {
  margin-bottom: 20px;
}

#puzzle_container table {
  border-collapse: collapse;
  border: 10px solid var(--border-color);
}

#puzzle_container tr {
  border-collapse: collapse;
}

#puzzle_container td {
  border-collapse: collapse;

  width: 20px;
  height: 20px;
}

#puzzle_container .star {

}

#puzzle_container .marked {
  background-color: gray;
}

#puzzle_container .starred {
  background-color: cyan;
}

#puzzle_container .star-highlight {
  background-color: lime;
}

#puzzle_container td.edge-left
  { border-left:   10px solid var(--border-color); }
#puzzle_container td.edge-right
  { border-right:  10px solid var(--border-color); }
#puzzle_container td.edge-top
  { border-top:    10px solid var(--border-color); }
#puzzle_container td.edge-bottom
  { border-bottom: 10px solid var(--border-color); }
